<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>Place Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm='8'>
      <ion-img [src]="place.imageUrl"></ion-img>
    </ion-col>

     <ion-col>
        <ion-content fullscreen>
          <h3>{{ place.title}}</h3>
        </ion-content>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-content class="ion-padding">
    <ion-button color="primary" class="ion-margin" (click)="onBookPlace()">Book Place</ion-button>
</ion-content>
